/*search header*/
.color-1.hovered.menu-3 .nav{
	display: flex;
}
.color-1.hovered.menu-3 .logo{
	flex: auto;
}
.logo img{
	width: 200px;
}
.header_search{
	display: none;
	width: 72%;
}
.pignose-calendar .pignose-calendar-header{
	margin-top: 0!important;
}
.header_search > div input,.scroll-search.box-time .input-group{
	border: solid 1px #22b056;
	border-radius: 5px;
}
.header_search .form-group{
	margin: 7px 0;
}
.header_search .row > div{
	float: left;
	padding: 0 6px;
}

.box_search_hotel{
	width: 400px;
	border-radius: 12px;
	background-color: white;
	position: absolute;
	left: -22px;
	top: 92px;
	padding: 10px;
}
.vertical-align.banner{
	top: 0;
}
.box_search_hotel .nav-item a{
	padding: 4px 10px;
}
.box_search_hotel .nav-item{
	flex: auto;
	text-align: center;
}
.nav-pills .nav-link.active{
	background-color: transparent;
	color: #262626;
	font-weight: 400;
	font-size: 20px;
}
#searchForm div label{
	margin: 10px 0px 5px 5px;
}
.box_search_hotel ul li a i{
	margin: 0 4px 0 -20px;
}
#searchForm i{
	font-size: 22px;
}
.fa-building{
	color: #6858ec;
}
.select_time{
	margin-left: 20px;
	display: flex;
	flex-flow: column;
	line-height: 1.2;
}
.select_time span:first{
	font-size: 16px;
}
.box-time{
	border-radius: 5px;
}
.box-time .input-group-text{
	background-color: white;
	border: 5px;
}
.box-time .input-group{
	border: solid 1px #9f9f9f;
	border-radius: 5px;
	padding: 3px 0px;
}
.box-time .input-group.booking-calendar:hover{
	cursor: pointer;
}

/*home*/
#pills-home-tab{
	text-align: left;
	font-size: 15px;
	color: #5141db;
	font-weight: 600;
}
/*calendar*/
.calendar{
	width: 100%;
}
.box-calendar{
	position: absolute;
	top: 92px;
	height: auto;
	left: -3px;
	z-index: 9;
	width: 400px;
	display: none;
}
.box-calendar:before{
	content: "";
	width: 1px;
	height: 1px;
	position: absolute;
	left: 92px;
	display: inline-block;
	border-top: 12px solid transparent;
	border-bottom: 12px solid #e9ecef;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	top: -22px;
	z-index: 10;
}
.box-calendar > div{
	border-radius: 12px;
	overflow: hidden;
	height: 100%;
	background-color: #fff;
}
.box-calendar .pignose-calendar{
	box-shadow: 0 0 0 0 !important;
	border: 0;
	height: 100%;
}
.pignose-calendar-top-icon:before{
	content : '' !important;
}
.box-time .plus,.box-time .minus{
	font-size: 22px;
}
.number{
	width: 15px;
}

.demo-picked {
	font-size: 1.2rem;
	text-align: center;
}

.demo-picked span {
	font-weight: bold;
}
#v-cal .vcal-header{
	padding: 10px;
}
.vcal-week, .vcal-body{
	padding: 0px 18px;
}
#v-cal .vcal-week span{
	font-size: 12px;
	padding: 10px;
}
#v-cal .vcal-btn{
-webkit-appearance: initial;
}
#v-cal .vcal-date{
	padding: 10px 14px;
}
.room_order{
	flex: auto;
	border-radius: 0 5px 5px 0;
	border: solid 1px #9f9f9f;
}
.room_order:hover{
	cursor: pointer;
}
.room_order p{
	margin-left: 10px;
	margin-top: 4px;
	font-size: 16px;
    color: #696464;
}
/*footer*/
.logo-footer{
	margin-top: 34px;
	width: 100%;
}
.footer-share span{
	font-size: 30px;
}
